@model Buseta_DataAccess.RouteStudent

@{
    ViewBag.Title = "Edit";
}
<body id="page1">
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
   <div class="body1">
   <div class="main">
    <header>
        <center><h2>Edit</h2></center>
        <br /><br />
   <center>
       
    <form class="form-horizontal">
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
           <label>Route</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("routeId", String.Empty)
            @Html.ValidationMessageFor(model => model.routeId)
        </div>

        <div class="form-group">
            <label>Student</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("studentId", String.Empty)
            @Html.ValidationMessageFor(model => model.studentId)
        </div>

        <div class="form-group">
            <label>Order in Route</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.orderInRoute)
            @Html.ValidationMessageFor(model => model.orderInRoute)
        </div>
        </form>
        
       <br />
     <button type="submit"   class="btn btn-success" value="Save">Save</button>
    <button type="submit"   class="btn btn-default" > @Html.ActionLink("Back to List", "Index")</button>
       
 </center>
        
        </header>
        </div>
       </div>
   
       }
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
