@model Buseta_DataAccess.Bus

@{
    ViewBag.Title = "Edit";
}
<center><h4>Edit</h4></center>
   <br /><br /><br />
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    
    <body background="http://www.wallsave.com/wallpapers/1920x1200/oscuridad/77272/oscuridad-fondos-de-pantalla-minimalistas-hd-muy-buenos-compilado-77272.jpg">

    <center>
	<form method="POST" role="form" id="formulario">
	
    <div class="form-group has-success">
         <div class="editor-label">
        <label  for="inputEmail3"> @Html.LabelFor(model => model.brand)</label></div> 
             <div class="editor-field">
            @Html.EditorFor(model => model.brand)
            @Html.ValidationMessageFor(model => model.brand)
           </div>
         </div>
           <div class="form-group has-warning">
               <div class="editor-label">
             <label  for="inputEmail3"> @Html.LabelFor(model => model.color)</label></div> 
             <div class="editor-field">
            
            @Html.EditorFor(model => model.color)
            @Html.ValidationMessageFor(model => model.color)
           </div>
         </div>

            <div class="form-group has-error"> 
              <div class="editor-label">
             <label  for="inputEmail3">@Html.LabelFor(model => model.capacity)</label></div>
             <div class="editor-field">
             @Html.EditorFor(model => model.capacity)
            @Html.ValidationMessageFor(model => model.capacity)
           </div>
          </div>
       </form>
        
    <input  class="btn btn-default" type="submit" value="Save" />|
      <button type="submit"   class="btn btn-success" value="Create"> @Html.ActionLink("Back to List", "Index")</button>
 </center>
    </body>

}  
 
  




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    
