@model IEnumerable<Buseta_DataAccess.Bus>

@{
    ViewBag.Title = "Index";
} <body >

 


        <center><h2> Maintenance Bus</h2></center>





<table class="table">
    <thead>
    <tr>
        <th >
            <label >Brand</label>
        </th>
        <th >
            <label >Color</label>
        </th>
        <th >
            <label>Capacity</label>
        </th>
        <th>
             Maintenance
        </th>
    </tr>
</thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class= "btn btn-primary" }) 
            @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class= "btn btn-primary" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class= "btn btn-primary" })
        </td>
    </tr>
}
   </tbody>
    @Html.ActionLink("Create New", "Create","",new { @class= "btn btn-primary" })

</table>
    </body>