@model IEnumerable<Buseta_DataAccess.Bus>

@{
    ViewBag.Title = "Index";
} <body >
    <div class="body1">
   <div class="main">
    <header>
       <center><h2> Maintenance Bus</h2></center>
    <center>
    <table id="tabla" class="table table-bordered">
        <tr class="success">
            <th class="active">
                <label >Brand</label>
            </th>
            <th class="active">
                <label >Color</label>
            </th>
            <th class="active">
                <label>Capacity</label>
            </th>
            <th class="active">
                <label>Maintenance</label> 
            </th>
        </tr>
    
        <tbody>
@foreach (var item in Model) {
    <tr class="success">
        <td td class="active">
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td td class="active">
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td td class="active">
            @Html.DisplayFor(modelItem => item.capacity)
        </td>
        <td td class="active">
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}
   </tbody>
</table>
        <button id="BtEmployee" type="button" class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
        </button>
        
        </center>
        </header>
       </div>
        </div>
       
    </body>