@model Buseta_DataAccess.Student

@{
    ViewBag.Title = "Create";
}
<body id="BCreatStudent">
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Student</legend>

        <div class="editor-label">
            <label>Name: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="">
            <label>LastName: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>

        <div class="">
            <label>Age: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.age)
            @Html.ValidationMessageFor(model => model.age)
        </div>

        <div class="">
            <label>Address: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="">
            <label>Telephone: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telephone)
            @Html.ValidationMessageFor(model => model.telephone)
        </div>

        <div class="editor-label">
           <label>Persona in Charge: </label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("personInChargeId", String.Empty)
            @Html.ValidationMessageFor(model => model.personInChargeId)
        </div>

        <div class="">
            <label>School: </label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("schoolId", String.Empty)
            @Html.ValidationMessageFor(model => model.schoolId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</body>