@model Buseta_DataAccess.Student

@{
    ViewBag.Title = "Delete";
}

 <body id="page1">
   <div class="body1">
   <div class="main">
    <header>
        <center><h2>Delete</h2></center>
        <br /><br />
        <center>
        <table  class="table table-bordered">
            <thead>
            <tr class="active">
               
                <td class="active">
                    <label>Student Name</label>
                </td>
               <td class="active">
                    <label>Student LastName</label>
                </td>
                <td class="active">
                    <label>Student Age</label>
                </td>


                  <td class="active">
                    <label>Student Telephone</label>
                </td>

                 <td class="active">
                    <label>Student Andress</label>
                </td>
                <td class="active">
                    <label>Personal In Chearge</label>
                </td>
               <td class="active">
                    <label>School</label>
                </td>
                

             </tr>
                </thead>
            <tbody>
  <tr class="success">
               <td class="display-field">
                      @Html.DisplayFor(model => model.name)
                </td>
                  <td class="display-field">
                      @Html.DisplayFor(model => model.lastName)
                </td>
                   <td class="display-field">
         @Html.DisplayFor(model => model.age)
                </td>
        <td class="display-field">
                      @Html.DisplayFor(model => model.telephone)
                </td>
       <td class="display-field">
         @Html.DisplayFor(model => model.address)
                </td>
      <td class="display-field">
         @Html.DisplayFor(model => model.PersonInCharge.name)
                </td>
      <td class="display-field">
         @Html.DisplayFor(model => model.School.name)
                </td>
             
      </tr>
                </tbody>
   </table>
   </center>
@using (Html.BeginForm()) {
       <center>
        <button type="submit" class="btn btn-success" value="Delete"> Delete </button>
       <button type="button" class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</button>
        </center>
}
        </center>
        </header>
        </div>
       </div>
        <br /><br />
       
    </body>