@model IEnumerable<Buseta_DataAccess.Student>

@{
    ViewBag.Title = "Index";
}

    <body background="http://4.bp.blogspot.com/-to0HfqSc6PM/UE0R3kwu8OI/AAAAAAAAI9g/B8QfKohzKzA/s1600/Fondo+de+pantalla+oto%C3%B1o+1.jpg">
<center><h2> Maintenance Student</h2></center>

<center>
<table id="tabla" class="table table-hover">
    <tr class="active">
        <th class="active">
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th class="active">
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th class="active">
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th class="active">
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th class="active">
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th class="active">
            @Html.DisplayNameFor(model => model.PersonInCharge.name)
        </th>
        <th class="active">
            @Html.DisplayNameFor(model => model.School.name)
        </th>
         <th>
            Maintenance
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="success">
        <td class="active">
            @Html.DisplayFor(modelItem => item.name)
        </td >
        <td class="active">
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.PersonInCharge.name)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.School.name)
        </td>
          <td class="active">
            <button type="button" class=="btn btn-default">
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
                </button>
        </td>
    </tr>
}

</table>
         <button type="button" class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
</button>
         </center>
    </body>


