@model IEnumerable<Buseta_DataAccess.Student>

@{
    ViewBag.Title = "Index";
}

    <body >
       
<center><h2 id="texto1"> Maintenance Student</h2></center>
         <br />
<center>
<table  class="table ">
    <thead>
    <tr >
        <th>
            <label>Name</label>
        </th>
        <th >
            <label>LastName</label>
        </th>
        <th >
            <label>Age</label>
        </th>
        <th >
            <label>Address</label>
        </th>
        <th >
            <label>Telephone</label>
        </th>
        <th >
            <label>Persona in Charge</label>
        </th>
        <th >
            <label>School</label>
        </th>
         <th>
            Maintenance
        </th>
    </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
    <tr >
        <td >
            @Html.DisplayFor(modelItem => item.name)
        </td >
        <td >
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td >
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td >
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonInCharge.name)
        </td>
        <td >
            @Html.DisplayFor(modelItem => item.School.name)
        </td>
          <td >
           
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class= "btn btn-primary" }) 
            @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class= "btn btn-primary" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class= "btn btn-primary" })
        </td>
    </tr>
   }
   </tbody>
    @Html.ActionLink("Create New", "Create","",new { @class= "btn btn-primary" })

</table>
    </body>