@model Buseta_DataAccess.Employee

@{
    ViewBag.Title = "Create";
}

<body id="BCPerson" background="http://www.guia-empresas.net/fondos/grandes/GE-fondo8.jpg">
<center><h2 id="HCreatB">Create</h2></center>
<br/>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
   <center>
  <form method="POST" role="form" id="formulario">
        <div class="editor-label">
            <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3" >Name: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
           <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3" >LastName: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastname)
            @Html.ValidationMessageFor(model => model.lastname)
        </div>

        <div class="editor-label">
            <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3" >Email: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3" >Telephone: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telephone)
            @Html.ValidationMessageFor(model => model.telephone)
        </div>

        <div class="editor-label">
            <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3" >Employee Type: </label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("employeeTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.employeeTypeId)
        </div>
      </form>
       <br />
        <button type="submit"   class="btn btn-success" value="Create">Create</button> |
        <button type="submit"   class="btn btn-success" value="Create"> @Html.ActionLink("Back to List", "Index")</button>
    </center>
</body>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
