@model Buseta_DataAccess.Employee

@{
    ViewBag.Title = "Details";
}

<body background="http://www.guia-empresas.net/fondos/grandes/GE-fondo4.jpg">
<center><h2>Details</h2></center>

<fieldset>
    <div class="display-label">
        <div class="table-responsive">
   <center>
     <table id="tabla" class="table table-bordered">
 <tr class="success"> 
       <td class="">
         <label>Employee´s Name: </label>
       </td>
       <td class="">
         <label>Lastname: </label>
       </td>
      <td class="">
         <label>Email: </label>
       </td>
      <td class="">
         <label>Telephone: </label>
       </td>
     <td class="">
         <label>Employee Type: </label>
      </td>
</tr>
<tr class="success">
    <td class="display-field">
        @Html.DisplayFor(model => model.name)
    </td>

    <td class="display-field">
        @Html.DisplayFor(model => model.lastname)
    </td>

    <td class="display-field">
        @Html.DisplayFor(model => model.email)
    </td>

    
    <td class="display-field">
        @Html.DisplayFor(model => model.telephone)
    </td>

    <td class="display-field">
        @Html.DisplayFor(model => model.EmployeeType.name)
    </td>
</tr>
        </table>
       </center>
            </div>
        </div>
</fieldset>
<center>

      <button type="submit"   class="btn btn-default" value="Create">
        @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
        @Html.ActionLink("Back to List", "Index")
       </button>
  </center>
 </body>