@model IEnumerable<Buseta_DataAccess.Employee>

@{
<<<<<<< HEAD
    ViewBag.Title = "Maintenance Employee";
}
<body id="BEmployee">
<h2><strong>Maintenance Employee</strong></h2>
    <br />
<center>
<table id="tabla" class="table table-hover">
    <tr class="active">
        <th class="active">
           <label>Name </label>
        </th>
        <th class="active">
            <label>LastName </label>
        </th>
        <th class="active">
            <label>Email </label>
        </th>
        <th class="active">
            <label>Telephone </label>
        </th>
        <th class="active">
           <label>Employee Type </label>
        </th>
        <th class="active"><label>Maintenance</label></th>
    </tr>

@foreach (var item in Model) {
    <tr class="success">
        <td td class="active">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td td class="active">
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td td class="active">
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td td class="active">
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td td class="active">
            @Html.DisplayFor(modelItem => item.EmployeeType.name)
        </td>
        <td td class="active">
=======
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeType.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeType.name)
        </td>
        <td>
>>>>>>> origin/Jose
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
<<<<<<< HEAD
 
<br />
 <button id="BtEmployee" type="button" class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
</button>
    </center>
</body>
=======
>>>>>>> origin/Jose
