@model IEnumerable<Buseta_DataAccess.RouteSchedule>

@{
    ViewBag.Title = "Route Schedule Maintenance";
}

<body id="page1">
   <div class="body1">
   <div class="main">
    <center>
        <header>
            <h2><strong>Maintenance Route Schedule</strong></h2>
        <br /><br />
<table id="tabla" class="table table-bordered">
    <tr class="active">
        <th class="active">
            <label>Day of Week</label>
        </th>
        <th class="active">
           <label>Start Time</label>
        </th>
        <th class="active">
            <label>End Time</label>
        </th>
        <th class="active"><label>Maintenance</label></th>
    </tr>

@foreach (var item in Model) {
    <tr class="success">
        <td class="active">
            @Html.DisplayFor(modelItem => item.dayOfTheWeek)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td class="active">
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |

            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
    <button id="BtEmployee" type="button" class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
    </button>
 </header>
<br />
 
    </center>
       </div>
        </div>
    
</body>