@model Buseta_DataAccess.Route

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Route</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.busId, "Bus")
        </div>
        <div class="editor-field">
            @Html.DropDownList("busId", String.Empty)
            @Html.ValidationMessageFor(model => model.busId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.routeScheduleId, "RouteSchedule")
        </div>
        <div class="editor-field">
            @Html.DropDownList("routeScheduleId", String.Empty)
            @Html.ValidationMessageFor(model => model.routeScheduleId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.goingToSchool)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.goingToSchool)
            @Html.ValidationMessageFor(model => model.goingToSchool)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.goingToHome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.goingToHome)
            @Html.ValidationMessageFor(model => model.goingToHome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pilotId, "Employee1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("pilotId", String.Empty)
            @Html.ValidationMessageFor(model => model.pilotId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.copilotId, "Employee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("copilotId", String.Empty)
            @Html.ValidationMessageFor(model => model.copilotId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
