@model Buseta_DataAccess.Route

@{
    ViewBag.Title = "Create";
}
<body id="page1">
    <div class="body1">
   <div class="main">
   <header>
        <center><h2>Create</h2></center>
        <br />
   <center>
  <form class="form-horizontal">

        <div class="form-group">
            <label>Bus</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("busId", String.Empty)
            @Html.ValidationMessageFor(model => model.busId)
        </div>

        <div class="form-group">
           <label>Route Schedule</label> 
        </div>
        <div class="editor-field">
            @Html.DropDownList("routeScheduleId", String.Empty)
            @Html.ValidationMessageFor(model => model.routeScheduleId)
        </div>

        <div class="form-group">
            <label>Going to School</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.goingToSchool)
            @Html.ValidationMessageFor(model => model.goingToSchool)
        </div>

        <div class="form-group">
            <label>Going to Home</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.goingToHome)
            @Html.ValidationMessageFor(model => model.goingToHome)
        </div>

        <div class="form-group">
            <label>Driver</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("pilotId", String.Empty)
            @Html.ValidationMessageFor(model => model.pilotId)
        </div>

        <div class="form-group">
          <label>Employee</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("copilotId", String.Empty)
            @Html.ValidationMessageFor(model => model.copilotId)
        </div>
      </form>
       <br />
         <button type="submit"   class="btn btn-primary" value="Create">Create</button> |
        <button type="submit"   class="btn btn-default" > @Html.ActionLink("Back to List", "Index")</button>
    
   </center>
       </header>
       
       </div>
        </div>
   
    
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
