@model Buseta_DataAccess.Route

@{
    ViewBag.Title = "Delete";
}

 <body id="page1">
   <div class="body1">
   <div class="main">
    <header>
        <center><h2>Delete</h2></center>
        <br /><br />
        <center>
    <form class="form-horizontal">
    <div class="form-group">
         <label>Bus</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bus.brand)
    </div>

    <div class="form-group">
         <label>Route Schedule</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RouteSchedule.dayOfTheWeek)
    </div>

    <div class="form-group">
        <label>Going to School</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.goingToSchool)
    </div>

    <div class="form-group">
         <label>Going to Home</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.goingToHome)
    </div>

    <div class="form-group">
         <label>Driver</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employee1.name)
    </div>

    <div class="form-group">
         <label>Employee</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employee.name)
    </div>
       
        </form>
        </center>
        </header>
       </div>
       

@using (Html.BeginForm()) {
     <center>
        <button type="submit" class="btn btn-success" value="Delete"> Delete </button>
       <button type="button" class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</button>
        </center>
}
      </div>
        <br /><br />
       
    </body>