@model Buseta_DataAccess.Route

@{
    ViewBag.Title = "Edit";
}
<body id="page1">
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
   <div class="body1">
   <div class="main">
    <header>
        <center><h2>Edit</h2></center>
        <br /><br />
   <center>
       
    <form class="form-horizontal">
        @Html.HiddenFor(model => model.id)
        <div class="form-group">
            <label>Bus</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("busId", String.Empty)
            @Html.ValidationMessageFor(model => model.busId)
        </div>

        <div class="editor-label">
            <label>Route Schedule</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("routeScheduleId", String.Empty)
            @Html.ValidationMessageFor(model => model.routeScheduleId)
        </div>

        <div class="">
            <label>Going to School: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.goingToSchool)
            @Html.ValidationMessageFor(model => model.goingToSchool)
        </div>

        <div class="form-group">
           <label>Going to Home: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.goingToHome)
            @Html.ValidationMessageFor(model => model.goingToHome)
        </div>

        <div class="form-group">
            <label>Pilot</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("pilotId", String.Empty)
            @Html.ValidationMessageFor(model => model.pilotId)
        </div>

        <div class="form-group">
            <label>Employee</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("copilotId", String.Empty)
            @Html.ValidationMessageFor(model => model.copilotId)
        </div>
        
        </form>
        </center>
        </header>
       
        </div>
       
    </div>
       
        <br />
        
    <button type="submit"   class="btn btn-success" value="Save">Save</button>
    <button type="submit"   class="btn btn-default" > @Html.ActionLink("Back to List", "Index")</button>
        
    
       }
    
</body>

 
 @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

