@model IEnumerable<Buseta_DataAccess.Route>

@{
    ViewBag.Title = "Maintenance Route";
}
<body id="page1">
    <div class="body1">
   <div class="main">
    <center>
        <header>
    <h2>Maintenance Route</h2>
    <br />

<table id="tabla" class="table table-bordered">
    <tr class="active">
        <th class="active">
            <label>Bus</label>
        </th>
        <th class="active">
            <label>Day of the Week</label>
        </th>
        <th class="active">
            <label>Going To School</label>
        </th>
        <th class="active">
            <label>Going To Home</label>
        </th>
        <th class="active">
            <label>Pilot</label>
        </th>
        <th class="active">
            <label>Employee</label>
        </th>
        <th class="active">
            <label>Maintenance</label>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="success">
        <td>
            @Html.DisplayFor(modelItem => item.Bus.brand)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.RouteSchedule.dayOfTheWeek)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.goingToSchool)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.goingToHome)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.Employee1.name)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.Employee.name)
        </td>
        <td class="active">
            
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |

                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            
        </td>
    </tr>
}

</table>
    <button id="BtEmployee" type="button" class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
    </button>
 </header>
<br />
 
    </center>
       </div>
        </div>
    
</body>