@model IEnumerable<Buseta_DataAccess.School>

@{
    ViewBag.Title = "School Maintenance";
}
<body id="page1">
   <div class="body1">
   <div class="main">
    <center>
        <header>
    <h2><strong>Maintenance School</strong></h2>
    <br /><br />
<table id="tabla" class="table table-bordered">
     <thead >
    <tr class="active">
        <th class="active">
           <label>Name</label>
        </th>
        <th class="active">
            <label>Address</label>
        </th>
        <th class="active">
            <label>Maintenance</label>
        </th>
    </tr>
 </thead>
    <tbody >
@foreach (var item in Model) {
    <tr class="success">
        <td class="active">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td class="active">
          
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
   
}
         </tbody>

    </table>
    <button id="BtEmployee" type="button" class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
    </button>
 </header>
<br />
 
    </center>
       </div>
        </div>
    
</body>
