@model IEnumerable<Buseta_DataAccess.School>

@{
    ViewBag.Title = "School Maintenance";
}
<body >
  
    <center>
    <h2 id="texto1">School Maintenance</h2></center>


    @Html.ActionLink("Create New", "Create","",new { @class= "btn btn-primary" })
    <center>
<table id="tabla" class="table">
     <thead >
    <tr>
        <th>
           <label>Name</label>
        </th>
        <th>
            <label>Address</label>
        </th>
        <th>
            Mantenaince
        </th>
    </tr>
 </thead>
    <tbody >
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
          
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class= "btn btn-primary" }) 
            @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class= "btn btn-primary" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class= "btn btn-primary" })
        </td>
    </tr>
   
}
         </tbody>

    </table>
        </center>
    
</body>