@model Buseta_DataAccess.EmployeeType

@{
    ViewBag.Title = "Create";
}
<body id="BCPerson" background="http://www.guia-empresas.net/fondos/grandes/GE-fondo8.jpg">
<center><h2 id="HCreatB">Create</h2></center>
<br/>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <center>
  <form method="POST" role="form" id="formulario">
        <div class="editor-label">
            <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3" >Name: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-field">
           <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3" >Description: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-field">
           <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3" >Salary: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.salary)
            @Html.ValidationMessageFor(model => model.salary)
        </div>
      </form>
       <br />
        <button type="submit"   class="btn btn-success" value="Create">Create</button> |
        <button type="submit"   class="btn btn-success" value="Create"> @Html.ActionLink("Back to List", "Index")</button>
    </center>
}
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
