@model Buseta_DataAccess.EmployeeType

@{
    ViewBag.Title = "Edit";
}

<body id="BCPerson" background="http://www.guia-empresas.net/fondos/grandes/GE-fondo8.jpg"> <center >
<center><h2 id="HCreatB">Edit</h2></center>
<br/>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.id)
    <center>
    <form method="POST" role="form" id="formulario">
        <div>
            <div class="editor-label">
               <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3">Name: </label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>
        <div>
            <div class="editor-label">
                <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3">Description: </label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>
        <div>
            <div class="editor-label" >
                <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3">Salary: </label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.salary)
                @Html.ValidationMessageFor(model => model.salary)
            </div>
        </div>
        <</form>
        <br />
         <button type="submit"   class="btn btn-success" value="Save">Save</button>
        <div>
        @Html.ActionLink("Back to List", "Index")
        </div>
    </center>     
}
</body>
    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}