@model IEnumerable<Buseta_DataAccess.EmployeeType>

@{
    ViewBag.Title = "Maintenance Employee Type";
}

<body id="BEmployee">
<h2><strong>Maintenance Employee</strong></h2>
    <br />
    <center>
<table id="tabla" class="table table-hover">
    <tr class="active">
        <th class="active">
            <label>Name</label>
        </th>
        <th class="active">
            <label>Description</label>
        </th>
        <th class="active">
            <label>Salary</label>
        </th>
        <th class="active">Maintenance</th>
    </tr>

@foreach (var item in Model) {
    <tr class="success">
        <td class="active">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td class="active">
            <button type="button" class=="btn btn-default">
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </button>
        </td>

    </tr>
}

</table>
    <button type="button" class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
    </button>
 </center>
</body>