@model Buseta_DataAccess.PersonInCharge
<br />
@{
    ViewBag.Title = "Create";
}

<center><h2 id="HCreatB">Create</h2></center>
<br/>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<body id="BCPerson" background="http://www.guia-empresas.net/fondos/grandes/GE-fondo8.jpg">
    <center >
    <form method="POST" role="form" id="formulario">
        <div >
            <div class="editor-label">
            <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3" >Name: </label></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>
        </div>
        <div >
            <div class="editor-label">
            <label class="LBBus2" "col-lg-2 control-label" for="inputEmail3">LastName: </label></div> 
       <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>
        </div>
        <div >
            <div class="editor-label">
            <label class="LBBus2" "col-lg-2 control-label"  for="inputEmail3">Email:</label></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
         </div>

        <div  >
            <div class="editor-label">
           <label class="LBBus2" "col-lg-2 control-label"  for="inputEmail3">Telephone: </label></div>
        
        <div class="editor-field">
            @Html.EditorFor(model => model.telephone)
            @Html.ValidationMessageFor(model => model.telephone)
        </div>
        </div>

        <div >
            <div class="editor-label">
                <label class="LBBus2" "col-lg-2 control-label"  for="inputEmail3">Address: </label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.address)
                @Html.ValidationMessageFor(model => model.address)
            </div>
         </div>
        </form>
        <br></br>
        <button type="submit"   class="btn btn-success" value="Create">Create</button> |
        <button type="submit"   class="btn btn-success" value="Create"> @Html.ActionLink("Back to List", "Index")</button>
    </center>
</body>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
