@model Buseta_DataAccess.PersonInCharge

@{
    ViewBag.Title = "Delete";
}
<body id="page1">
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
   <div class="body1">
   <div class="main">
    <header>
        <center><h2>Edit</h2></center>
        <br /><br />
   <center>
    <div class="table-responsive">
        <table id="tabla" class="table table-bordered">
            <tr class="success"> 
                <td class="active">
                  <label>Name</label>
                </td>
                <td class="active">
                       <label>LastName</label>
                </td>
               <td class="active">
                    <label>Email</label>
                </td>
                <td class="active">
        <label>Telephone</label>
                </td>

                  <td class="active">
         <label>Address: </label>
                </td>
            </tr>
            <tr class="success">
               <td class="display-field">
                      @Html.DisplayFor(model => model.name)
                </td>

                 <td class="display-field">
                       @Html.DisplayFor(model => model.lastName)
                </td>
                 <td class="display-field">
                      @Html.DisplayFor(model => model.email)
                </td>
                 <td class="display-field">
                      @Html.DisplayFor(model => model.telephone)
                </td>
                 <td class="display-field">
                     @Html.DisplayFor(model => model.address)
                </td>

            </tr>
        </table>
           
    </div>
       
@using (Html.BeginForm())
{
      <center>
        <button type="submit" class="btn btn-success" value="Delete"> Delete </button>
       <button type="button" class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</button>
        </center>
}
        </center>
        </header>
        </div>
       </div>
        <br /><br />
       
    }
</body>