@model Buseta_DataAccess.PersonInCharge

@{
    ViewBag.Title = "Edit";
}
<body id="page1">
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
   <div class="body1">
   <div class="main">
    <header>
        <center><h2>Edit</h2></center>
        <br /><br />
   <center>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="form-group">
            <label >Name</label></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>
        </div>
        <div >
            <div class="form-group">
            <label >LastName</label></div> 
       <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>
        </div>
        <div >
            <div class="form-group">
            <label >Email</label></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
         </div>

        <div  >
            <div class="editor-label">
           <label >Telephone: </label></div>
        
        <div class="editor-field">
            @Html.EditorFor(model => model.telephone)
            @Html.ValidationMessageFor(model => model.telephone)
        </div>
        </div>

        <div >
            <div class="editor-label">
                <label class="LBBus2" "col-lg-2 control-label"  for="inputEmail3">Address: </label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.address)
                @Html.ValidationMessageFor(model => model.address)
            </div>
         </div>
        </form>
        <br />
       <button type="submit"   class="btn btn-success" value="Save">Save</button>
        <button type="submit"   class="btn btn-default" > @Html.ActionLink("Back to List", "Index")</button>
       
        </center>
    </header>
        </div>
       </div>
    }
  
    
     </body>
    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
