@model IEnumerable<Buseta_DataAccess.PersonInCharge>

@{
    ViewBag.Title = "Personal In Charge";
}

<<body id="page1">
   <div class="body1">
   <div class="main">
    <center>
        <header>
    <center><h2> Maintenance Person in Charge</h2></center>
    <br /><br />
    
<table id="tabla" class="table table-bordered">
    <tr class="active">
        <th class="active">
            <label>Name</label>
        </th>
        <th class="active">
            <label>LastName</label>
        </th>
        <th class="active">
            <label>Email</label>
        </th>
        <th class="active">
            <label>Telephone</label>
        </th>
        <th class="active">
            <label>Address</label>
        </th>
        <th> Maintenance</th>
    </tr>

@foreach (var item in Model)
{
    <tr class="success">
        <td class="active">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.address)
        </td>
         <td class="active">
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
    <button id="BtEmployee" type="button" class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
    </button>
 </header>
<br />
 
    </center>
       </div>
        </div>
   
</body>