@model IEnumerable<Buseta_DataAccess.Users>

@{
    ViewBag.Title = "Index";
}
<body id="page1">
   <div class="body1">
   <div class="main">
    <center>
        <header>
<h2><strong>Maintenance Users</strong></h2>
    <br /><br />
<table id="tabla" class="table table-bordered">
    <tr class="success">
        <th class="active">
             <label> User </label>
        </th>
        <th class="active">
             <label> Password </label>
        </th>
        <th  class="active">
             <label> Maintenance </label>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="success">
        <td td class="active">
            @Html.DisplayFor(modelItem => item.user)
        </td>

        <td td class="active">
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
    <button id="BtEmployee" type="button" class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
    </button>
 </header>
<br />
 
    </center>
       </div>
        </div>
   
</body>